header {
    position: relative;
    display: grid;
    grid-column: 1/-1;

    padding: 0.3em;


    color: var(--clr-primary-base);
    background-color: var(--clr-sec--1);
}

header h1 {
    grid-column: 1/3;
    grid-row: 1;

    font-family: 'Rubik_Doodle_Shadow';

    margin: .5em;

    letter-spacing: .25em;
    text-align: center;
}

.search-container {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-auto-flow: column;

    justify-content: flex-end;
    margin: 1em;
}

.form-search {
    margin: auto;

    grid-auto-flow: column;
    text-align: end;
}