header {
    display: grid;
    grid-template-columns: minmax(auto, 60%) minmax(20%, 1fr);
    grid-column: 1/-1;

    padding: 0.3em;


    color: var(--clr-primary-base);
    background-color: var(--clr-sec--1);
}

header h1 {
    grid-column: 1/-1;

    font-family: 'Rubik_Doodle_Shadow';

    margin: .5em;

    letter-spacing: .25em;
    text-align: center;
}

.search-container {
    display: grid;
    grid-auto-flow: column;

    padding: 1em;
}

.form-search {
    margin: auto;

    grid-auto-flow: column;
    text-align: end;
}