header {
    display: grid;
    grid-template:
        "choose-theme h1 search-container " auto
        / auto
    ;
    align-items: center;
    grid-column: 1/-1;

    padding: 0.3em;
    color: var(--clr-primary-base);
    background-color: var(--clr-sec--1);
}

header h1 {
    grid-area: h1;
    justify-self: center;
    font-family: 'Rubik_Doodle_Shadow';

    letter-spacing: .25em;
}

.search-container {
    grid-area: search-container;

    margin-inline-end: 1em;
    
    justify-self: flex-end;
}
