
.locs-container-div{
    grid-column: 1;
}

.locs-container {
    background-color: var(--bg3);
    padding: 0.5em;
    min-height: 100vh;
}

.loc-list {
    list-style: none;
    padding: 0;
}

.loc-list li {
    padding-bottom: .2em;
    border-bottom: 1px solid #222;
}
.loc-list li h4 {
    display: flex;
    justify-content: space-between;
}

.loc-list li.active {
    color: var(--clr-selected);
}

.loc-list li.active .muted{
    color: var(--clr-third--1);
}

.loc-btns {
    text-align: end;
}


.form-search {
    display: block;
    text-align: end;
}

.btn-user-pos {
    width: 2em;
    height: 2em;

    background-size: cover;
    background-image: url(../../img/user-loc.png);
    background-color: var(--clr-third--1);
}

.btn-user-pos:hover {
    background-color: var(--clr-sec--1 );
}

.loc-filter {
    background-color: var(--clr-input);
    padding: 0.3em;
}

.loc-filter input[type=text] {
    width: 98%;
    margin-bottom: .5em;
}

.pie {
    display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    /* background-image: conic-gradient(orange 0%, orange 64%, blue 64%, blue 81%, black 81%, black 100%); */
}

.loc-stats ul {
    list-style-type: none;
    display: inline-block;
    text-transform: capitalize;
}

.loc-stats .pie-label {
    display: inline-block;
    background-color: black;
    width: 1em;
    height: 1em;
    margin-inline-end: 0.3em;
}