.locs-container {
    display: grid;
    grid-template:
        " selected-and-flitter" auto
        " locs-header" auto
        " loc-list-container" auto
        " loc-stats" auto
        / auto;
    gap: 1em;
    padding: 0.5em;

    background-color: var(--clr-sec-base);
}

.locs-header {
    grid-area: locs-header;

    align-self: center;

    text-align: center;
    text-decoration: dashed underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;

    color: var(--clr-third-base);
}

.loc-list-container {
    display: grid;

    grid-area: loc-list-container;
}



.loc-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    gap: 1em;

    list-style: none;
    cursor: pointer;
}

/* location container */
.loc-list li {
    display: grid;

    width: 100%;
    height: auto;

    justify-items: center;
    padding: .5em;

    text-align: center;

    border: 1px solid var(--clr-primary--1);
    border-radius: 1vh;
}

.loc-list li span {
    margin-inline-end: 1em;
}


.loc-list li h4 {
    display: grid;
    grid-column: 1 / -1;
    grid-template-columns: 1fr 1fr 1fr;

    justify-content: space-between;
}


.loc-list li .stars {
    grid-column: 3;
}

.loc-list li.active .stars {
    grid-row: 1;
    color: var(--clr-rate);
}

.loc-list li.active {
    font-size: 1.2em;
    color: var(--clr-primary-1);
}

.loc-list li .muted {
    grid-column: 1 / -1;
}

.loc-list li.active .muted {
    color: var(--clr-third--1);
}

.loc-btns {
    grid-column: 1/-1;
    grid-row: 3;

    text-align: end;
}


.btn-user-pos {
    width: 2em;
    height: 2em;

    background-size: cover;
    background-image: url(../../img/user-loc.png);
    background-color: var(--clr-third--1);
}

.btn-user-pos:hover {
    background-color: var(--clr-sec--1);
}

.loc-filter {
    padding: 0.3em;


    border-radius: 1vh;
    border: 1px var(--clr-primary--1) solid;
    background: linear-gradient(to top, var(--clr-sec--1), var(--clr-sec-base), var(--clr-sec-1));

}

.sort-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sort-by {
    border-radius: 1vh;
    background-color: var(--clr-input);
}

.loc-filter input[type=text] {
    width: 98%;

    margin-bottom: .5em;
}

.pie {
    display: inline-block;

    margin-top: 1em;

    width: 120px;
    height: 120px;

    border-radius: 50%;
}

.loc-stats {
    display: grid;

    align-self: center;

    text-align: center;
    color: var(--clr-third-base);
}


.loc-stats ul {
    display: inline-block;

    list-style-type: none;

    text-transform: capitalize;
}

.loc-stats-rate h3,
.loc-stats-rate h4 {
    line-height: 1.5;

    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}

.loc-stats .pie-label {
    display: inline-block;

    width: 1em;
    height: 1em;

    margin-inline-end: 0.3em;

    background-color: black;
}