.choose-theme.btn {
    grid-area: choose-theme;

    height: 39px;

    padding: 6px 10px;

    cursor: pointer;
    
    border-radius: .5vh;
    border: 1px solid var(--clr-sec-1);
    background-color: var(--clr-sec-base);
}

.select-theme {
    
    padding: 6px 10px;
    
    word-spacing: 0.5rem;
    text-align: center;
    
    font-weight: bold;
    font-family: 'Rubik_Doodle_Shadow', sans-serif;

    appearance: none;
    cursor: pointer;
}