html {
    font-family: 'fredoka', sans-serif;
    color: var(--clr-primary-base);
}

body {
    display: grid;
    overflow-x: hidden;
}

.map {
    width: 100%;
    height: 100%;
}

input[type=text],
input[type=number] {
    line-height: 2em;
    border-radius: .5vh;
    background-color: var(--clr-input);
}

button {
    cursor: pointer;
    transition: background-color .5s;

    border: 0;
    border-radius: .2em;
}

button:hover {
    color: var(--clr-third-base);
    background-color: var(--clr-primary-base);
}

.muted {
    font-size: .9em;
    color: var(--clr-third--1);
}

.smaller {
    font-size: .8em;
}