html {
    margin: 1em;
    font-family: 'fredoka', sans-serif;
    background-color: var(--clr-primary-1);
    color: var(--clr-primary-base);
}

body {
    display: grid;
    background-color: var(--clr-sec--1);
    overflow-x: hidden;
}

input[type=text],
input[type=number] {
    line-height: 2em;
    border-radius: .5vh;
    background-color: var(--clr-input);
}

button {
    padding: 6px 10px;
    margin: 2px;

    cursor: pointer;
    transition: background-color .5s;

    border: 0;
    border-radius: .2em;
    background-color: var(--clr-third-1);
}

button:hover {
    color: var(--clr-third-base);
    background-color: #111;
}

.muted {
    font-size: .9em;
    color: var(--clr-third--1);
}

.smaller {
    font-size: .8em;
}
