html{
    margin: .5em;
    background-color: var(--clr-Primary-1);
    color: var(--clr-Primary-base);
}

body {
    background-color: var( --clr-sec--1);
    /* color: #eee; */
    overflow-x: hidden;
}

input[type=text],input[type=number] {
    line-height: 2em;
    background-color: var(--clr-input);
    border: 0;
}

button {
    /* color: whitesmoke; */
    padding: 6px 10px;
    margin: 2px;
    
    cursor: pointer;
    transition: background-color .5s;
    
    border: 0;
    border-radius: .2em;
    background-color:var(--clr-third-1);
}

button:hover {
    color: var(--clr-third-base);
    background-color: #111;
}

.muted {
    font-size: .9em;
    color: var(--clr-third--1);
}

.smaller {
    font-size: .8em;
}

