@media (min-width: 920px) {


    .locs-container {
        grid-template:
            " . locs-header" 50px
            "selected-and-flitter loc-list-container" 1fr
            "loc-stats            loc-list-container" 1fr
            / 350px 2fr
        ;
    }

    .loc-list-container {
        grid-area: loc-list-container;
        overflow-x: hidden;
        overflow-y: auto;

    }

    .loc-stats {
        grid-area: loc-stats;
    }

}

@media (min-width: 1400px) {

    html {
        margin: .5em;
    }

    .map-container {
        grid-column: 2;
        grid-row: 1/3;
    }

    .locs-container {
        grid-template:
            "selected-and-flitter" auto
            "loc-stats" auto
            "locs-header" 50px
            "loc-list-container" auto
            / auto
        ;

        grid-column: 1;
        height: 100vh;
    }

    .selected-and-flitter {
        grid-area: selected-and-flitter;
    }

    .loc-list-container {
        grid-area: loc-list-container;
    }

    .locs-header {
        grid-area: locs-header;

    }

    .loc-stats {
        grid-area: loc-stats;
    }

    .main-content-layout {
        grid-column: 1/-1;
        grid-template-columns: 340px 1fr;
    }

}