@media (max-width: 420px) {
    header {
        display: grid;
        grid-template:
            "h1" 1fr
            "choose-theme" 1fr
            "search-container" 1fr
            / auto;

        /* justify-items: center; */
        /* justify-content: space-evenly; */

        row-gap: .5em;
        padding-block-end: 1em;

    }

    .sort-items {
        display: block;
        /* justify-content: space-around;
        align-items: center; */
    }


}

/* //////////////////////////////////////////////////////////////////////// */


@media (min-width: 420px) {

    header {
        display: grid;
        grid-template:
            "h1 h1"
            "choose-theme search-container"
            / auto;

        justify-items: center;
        justify-content: space-evenly;

        row-gap: .5em;
        padding-block-end: 1em;

    }


}

/* //////////////////////////////////////////////////////////////////////// */

@media (min-width: 810px) {
    header {
        grid-template:
            "choose-theme h1 search-container " auto
            / 33%;

    }

    header h1 {
        margin: .5em;
    }

    .choose-theme.btn {
        margin-inline-start: .5em;
    }

    .search-container {
        margin-inline-end: .5em;
        justify-self: flex-end;

    }

    .select-theme {
        width: 100%;
    }

    .choose-theme {
        justify-self: flex-start;
    }

    .locs-container {

        grid-template:
            " selected-and-flitter loc-stats" auto
            " locs-header locs-header" auto
            " loc-list-container loc-list-container" auto
        ;
    }

}


/* //////////////////////////////////////////////////////////////////////// */
@media (min-width: 1000px) {

    .map-container {
        grid-column: 2;
        grid-row: 1/3;
    }

    .choose-theme.btn {
        margin-inline-start: 2em;
    }

    .search-container {
        margin-inline-end: 2em;
    }

    .locs-container {
        grid-template:
            "selected-and-flitter" auto
            "locs-header" 20px
            "loc-list-container"
            "loc-stats" auto
            / auto
        ;

        grid-column: 1;
        height: 100vh;
    }

    .selected-and-flitter {
        grid-area: selected-and-flitter;
    }

    .loc-list-container {
        overflow-x: hidden;
        overflow-y: auto;
        grid-area: loc-list-container;
    }

    .locs-header {
        grid-area: locs-header;
    }

    .loc-stats {
        grid-area: loc-stats;
    }

    .main-content-layout {
        grid-column: 1/-1;
        grid-template-columns: 340px 1fr;
    }

}