:root {
    /* Color palette */

    /* Primary (Rich Black) */
  --clr-primary--1: #3A3A3D;   /* noticeably lighter black */
  --clr-primary-base: #1F1F21; /* main soft black */
  --clr-primary-1: #0A0A0B;    /* deep black */

  /* Secondary (Neutral Grays) */
  --clr-sec--1: #e0e2e6;       /* brighter neutral gray */
  --clr-sec-base: #d4d6db;     /* balanced soft gray */
  --clr-sec-1: #a7acb3;        /* deeper neutral gray */

  /* Accent (Indigo / Violet) */
 --clr-third--1: #5A7FCF;   /* brighter indigo-blue */
  --clr-third-base: #3F5BAA; /* balanced deep blue-indigo */
  --clr-third-1: #2a6674;    /* darker, cool navy */

/* Special component colors */
  --clr-input: #f0f0f0;        /* deeper neutral gray */
  --clr-selected: #5cdbf8;
  --clr-rate: gold;
}

.theme-1 {
  --clr-primary--1: #010114;   /* noticeably lighter black */
  --clr-primary-base: gold; /* main soft black */
  --clr-primary-1: gold;    /* deep black */

  /* Secondary (Neutral Grays) */
  --clr-sec--1: #0e54b6;       /* brighter neutral gray */
  --clr-sec-base: #73acec;     /* balanced soft gray */
  --clr-sec-1: #1a91cd;        /* deeper neutral gray */

  /* Accent (Indigo / Violet) */
 --clr-third--1: #5A7FCF;   /* brighter indigo-blue */
  --clr-third-base: #3F5BAA; /* balanced deep blue-indigo */
  --clr-third-1: #00060b;    /* darker, cool navy */

  /* Special component colors */
  --clr-input: #f0f0f0;        /* deeper neutral gray */
  --clr-selected: #5cdbf8;
  --clr-rate: gold;
}

/* Another theme */
/* :root {
    --bg1: rgb(37, 13, 195);
    --bg2: rgb(26, 110, 146);
    --bg3: rgb(9, 49, 226);
    --color1: aliceblue;
    --color2: rgb(94, 169, 240);
    --color3: rgb(211, 187, 48);
    --color4: rgb(90, 66, 6);
    --gray1: lightgray;
} */