:root {
  /* Color palette */

  /* Primary (Rich Black) */
  --clr-primary--1: #3A3A3D;
  --clr-primary-base: #1F1F21;
  --clr-primary-1: #000000;

  /* Secondary (Neutral Grays) */
  --clr-sec--1: #e0e2e6;
  --clr-sec-base: #d4d6db;
  --clr-sec-1: #a7acb3;

  /* third (Indigo / Violet) */
  --clr-third--1: #5A7FCF;
  --clr-third-base: #3F5BAA;
  --clr-third-1: #253b79;

  /* Special component colors */
  --clr-input: #f0f0f0;
  --clr-selected: #5cdbf8;
  --clr-rate: gold;


}

.theme-2 {
  /* Color palette theme-2 */

  /* Primary*/
  --clr-primary--1: gold;
  --clr-primary-base: gold;
  --clr-primary-1: gold;

  /* Secondary*/
  --clr-sec--1: #0a65c6;
  --clr-sec-base: #6482ce;
  --clr-sec-1: #1766d4;

  /* Accent*/
  --clr-third--1: #1553f0;
  --clr-third-base: #0609a7;
  --clr-third-1: #2a6674;

  /* Special component colors */
  --clr-input: white;
  --clr-selected: #5cdbf8;
  --clr-rate: gold;
}

.theme-3 {
  /* Color palette theme-3 */

  /* Primary*/
  --clr-primary--1: gold;
  --clr-primary-base: #0f44ca;
  --clr-primary-1: rgb(14, 13, 13);

  /* Secondary*/
  --clr-sec--1: #068139;
  --clr-sec-base: #288e08;
  --clr-sec-1: #3ae50f;

  /* Accent*/
  --clr-third--1: gold;
  --clr-third-base: gold;
  --clr-third-1: #2a6674;

  /* Special component colors */
  --clr-input: white;
  --clr-selected: #5cdbf8;
  --clr-rate: #0f44ca;
}

/* Another theme */
/* :root {
    --bg1: rgb(37, 13, 195);
    --bg2: rgb(26, 110, 146);
    --bg3: rgb(9, 49, 226);
    --color1: aliceblue;
    --color2: rgb(94, 169, 240);
    --color3: rgb(211, 187, 48);
    --color4: rgb(90, 66, 6);
    --gray1: lightgray;
} */